<!--Navigation Bar-->
<div ng-controller="HeaderController">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="" class="navbar-brand">Book Shopping Website</a>
            </div>
            <div class="collapse navbar-collapse btn-toolbar" id="navbar-collapse">
                <a href="#logout" ng-click="logout()" class=" btn btn-warning navbar-btn navbar-right">Logout</a>
                <a href="#login" class="btn btn-warning navbar-btn navbar-right">Login </a>

                <ul class="nav navbar-nav">
                    <li> <a href="#home">Home</a></li>
                    <li> <a href="#search">Search</a></li>
                    <li> <a href="#profile">Profile</a></li>
                    <li> <a href="#shoppingcart">Shopping Cart</a></li>
                    <li> <a href="#shoppingrecord">Shopping Record</a></li>
                </ul>
            </div>

        </div><!--End Container-->
    </nav> <!--End navbar-->
</div>