<div id="wrapper" ng-controller="navigationController">
<!-- Navigation -->
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Main page</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">My posts</a>
                </li>

                <li>
                    <a href="#/add">New post</a>
                </li>


                <!-- To-do: this part should only when the user is logged in, and the user
                is one the post he has created -->
                <li>
                    <a href="#/uplooad/{{currentPost.id}}">Edit this post</a>
                </li>



                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Account<b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <div ng-show="currentUser">
                          <li class="divider"></li>
                            <li><a class="pull-middle">{{currentUser.Name}}</a></li>
                          <li class="divider"></li>
                        </div>



                        <li><a ng-click='logout()'>Log Out</a></li>


                        <li><a href="#/registration">Register</a></li>
                        <li><a href="#/contact">Contact Adminstrator</a></li>
                    </ul>
                </li>



            </ul>

           <div class="col-sm-3 col-md-3 pull-right">
            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="q" ng-model="searchText">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" ng-click='searching()'><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                </div>
            </form>
           </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</div>
