<div id="wrapper">

    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Post Content Column -->
            <div class="col-lg-8">
                <!-- Blog Post -->
                <!-- Title -->
                <h1> Bach: French Suite No.2 Courante</h1>
                <!-- Author -->
                <p class="lead"> by Martha Argerich</p>
                <hr>
                <!-- Date/Time -->
                <p><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</p>
                <hr>
                <!-- Preview Image -->
                <iframe width="700" height="300" src="http://www.youtube.com/embed/7mFDXNODNyc?autoplay=0"></iframe>
                <hr>
                <!-- Post Content -->
                <p class="lead">
                    The French Suites, BWV 812–817, are six suites which Johann Sebastian Bach wrote for the clavier (harpsichord or clavichord) between the years of 1722 and 1725.Although Suites 1–4 are typically dated to 1722, it is possible that the first was written somewhat earlier<br>
                </p>
                <p>
                    The suites were later given the name 'French' (first recorded usage by Friedrich Wilhelm Marpurg in 1762). Likewise, the English Suites received a later appellation. The name was popularised by Bach's biographer Johann Nikolaus Forkel, who wrote in his 1802 biography of Bach, "One usually calls them French Suites because they are written in the French manner."[3] <br>
                </p>
                <p> This claim, however, is inaccurate: like Bach's other suites, they follow a largely Italian convention.[4] There is no surviving definitive manuscript of these suites, and ornamentation varies both in type and in degree across manuscripts.[5] The Courantes of the first (in D minor) and third (in B minor) suites are in the French style, the Courantes of the other four suites are all in the Italian style.</p>
                <p>
                    In any case Bach also employed dance movements (such as the Polonaise of the Sixth suite) that are foreign to the French manner. Usually, the swift second movement after the Allemande is named either Courante (French style) or Corrente (Italian style), but in all these suites the second movements are named Courante, according to the Bach catalog listing, which supports the suggestion that these suites are "French". Some of the manuscripts that have come down to us are titled "Suites Pour Le Clavecin", which is what probably led to the tradition of calling them "French" Suites.<br>
                </p>
                <p>
                    Two additional suites, one in A minor (BWV 818), the other in E-flat Major (BWV 819), are linked to the familiar six in some manuscripts. The Overture in the French style, BWV 831, which Bach published as the second part of Clavier-Übung, is a suite in the French style but not connected to the French suites.[6] Some manuscripts have movements not found in other copies, which are probably spurious.<br>
                </p>
                <hr>
                <!-- Blog Comments -->
                <div id="disqus_thread">
                    <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
                    /*
                    var disqus_config = function () {
                        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };
                    */
                    (function() {  // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');

                        s.src = 'http://zhongxiwangcs5610project.disqus.com/embed.js';

                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>
                        Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a>
                    </noscript>
                </div>
                <!-- Comments Form -->

                <hr>
                <!-- Posted Comments -->
                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <!-- Comment -->
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            Start Bootstrap
                            <small>August 25, 2014 at 9:30 PM</small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">
                                    Nested Start Bootstrap
                                    <small>August 25, 2014 at 9:30 PM</small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>

            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Tags</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Baroque</a>
                                </li>
                                <li>
                                    <a href="#">Piano</a>
                                </li>
                                <li>
                                    <a href="#">Johann Sebastian Bach</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                                <li>
                                    <a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Collaborators</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->

</div>