#p1{
	background-color: yellow;
	float: left;
}

#p2{
	background-color: blue;
	float: left;
}

#p3{
	background-color: red;
	clear: both;
}

#intro{
	color:blue;
	background-color:yellow;
}

.centeredContent{
	width: 200px;
	/* margin: auto; */
	
}

.container{
	width: 600px;
	margin: auto;
}

.col-6{
	width: 300px;
	float: left;
}

.col-4{
	width: 200px;
	float: left;
}

.generalHeader{
	color: blue;
}