
<div id="page-wrapper" ng-controller="SearchController">

	<div class="row">
		<div class="col-sm-12">
			<h1 class="page-header"> Search </h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>

	<div class="row">

		<div class="form-group">
			<div class="col-sm-8">
				<input type="text" class="form-control" ng-model="keyword" placeholder="keyword">
			</div>

			<div class="col-sm-offset-2 col-sm-2">
				<input type="button" class="btn btn-default btn-block" ng-click="search(keyword)" value="search"/>
			</div>
		</div>
	</div>

	<br/>
	<div id="row">
		<table class="table table-stripped" align="center">
			<thead>
				<tr>
					<th>Image </th>
					<th>Content </th>
					<th>Actions </th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="book in books">
					<td> <img class="big-icon img-circle img-responsive" src="{{book.image}}"> </td>
					<td>
						<b>
							<ul>
								<li>Title: {{book.name}}</li>
								<li>Author: {{book.author}}</li>
								<li>Publisher: {{book.publisher}}</li>
								<li>Price: {{book.price}}</li>
							</ul>
							<ul>
							</ul>
						</b>
					</td>
					<td>
						<div class="pull-left">
							<a type="submit" data-toggle="tooltip" title="put book to favourite list" ng-click="likeBook(book)">
								<span class="glyphicon glyphicon-heart"></span>
							</a>
							<a type="submit" data-toggle="tooltip" title="put to shopping cart" ng-click="buyBook(book)">
								<span class="glyphicon glyphicon-plus"></span>
							</a>
							<a type="submit" data-toggle="tooltip" title="enter book profile" ng-click="enterBook(book.name)">
								<span class="glyphicon glyphicon-chevron-right"></span>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>